@import "tailwindcss";

:root {
  lang:en;
  --background: #000000;
  --foreground: #F4F3F1;
}

@theme {
  --font-sans: var(--font-inter), sans-serif;
  --font-heading: var(--font-khand), serif;
  --font-serif: var(--font-shippori), serif;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

